# 21st March Assignment

## Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

-> Label encoding assign interger value to all unique categories.In this technique nature of category is ranking.

-> Ordinal encoding also assign integer value , but in this technique we have to decide ranking of categories.In this technique categories has clear numeric      differnce.

* Example

1. Label Encoding : Size

Small - 0

Medium - 1

Large - 2

2. Ordinal Encoding : Education

High School - 1

Post Graduat - 2

Under Graduat - 3

PHD - 5

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

-> Target guided encoding works completely uppon target feature,

-> If any categorical feature has strong relationship with target feature so we can format it easily with the help of target guided encoding.

* Example

-> Let suppose we are working on an dataset which consist multiple features.

-> One of them feature is location that is categorical and it has strong relationship with target feature which is price,

-> By calculating mean or median of that price we can easily format location featue into numeric for machine learning model.

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

* Definition : Covariance is a statistical technique used to find mathematical relationship between features or variables.

* Importance

-> Covariance plays very important role in machine learning for feature selection.

-> With the help of covariance we can easily know the relationship and because that we can easily select the features.

* Formula

Cov(x,y) = âˆ‘

## Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.Show your code and explain the output.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
                'Color' : ['red','green','blue'],
                'Size' : ['small','medium','large'],
                'Material': ['wood','metal','plastic']
                
                             })

In [3]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
encoder = LabelEncoder()

In [8]:
encoder.fit_transform(df['Color'])

array([2, 1, 0])

In [19]:
df_color=pd.DataFrame(encoder.fit_transform(df['Color']),columns=['Encoded_Color'])

In [15]:
encoder.fit_transform(df['Size'])

array([2, 1, 0])

In [20]:
df_size=pd.DataFrame(encoder.fit_transform(df['Size']),columns=['Encoded_Size'])

In [18]:
encoder.fit_transform(df['Material'])

array([2, 0, 1])

In [21]:
df_material=pd.DataFrame(encoder.fit_transform(df['Material']),columns=['Encoded_Material'])

In [22]:
final_encoded = pd.concat([df,df_color,df_size,df_material],axis=1)

In [23]:
final_encoded

   Color    Size Material  Encoded_Color  Encoded_Size  Encoded_Material
0    red   small     wood              2             2                 2
1  green  medium    metal              1             1                 0
2   blue   large  plastic              0             0                 1

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [5]:
import pandas as pd

df = pd.DataFrame({
                 'Age' : [20,23,27],
                 'Income':[50000,150000,230000],
                 'Education_lvl':['B_Tech','M_Tech','PHD']
                 })

In [6]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                  Age        Income
Age         12.333333  3.133333e+05
Income  313333.333333  8.133333e+09

## Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

-> I will use different technique for categories.

* I will use one hot encoding for gender category, cause it contains binary so we can easily encode it with OHE.

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

g_df = pd.DataFrame({'Gender':['Male','Female']})

encoded_g = ohe.fit_transform(g_df[['Gender']]).toarray()

encoded_df = pd.DataFrame(encoded_g,columns=ohe.get_feature_names_out())

final_df = pd.concat([g_df,encoded_df],axis=1)

final_df

   Gender  Gender_Female  Gender_Male
0    Male            0.0          1.0
1  Female            1.0          0.0

* I will use label encoding for education level category, cause the nature of category is ranking.

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()

df=pd.DataFrame({'Education_level':['Bachelor','Master','PhD']})

encoded = encoder.fit_transform(df['Education_level'])

encoded_df = pd.DataFrame(encoded,columns=['Encoded_level'])

final_df = pd.concat([df,encoded_df],axis=1)

final_df

  Education_level  Encoded_level
0        Bachelor              0
1          Master              1
2             PhD              2

* I will use ordinal encoding for employment status category ,cause type of category has numeric difference.

In [4]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
encoder= OrdinalEncoder(categories=[['unemployed','part_time','full_time']])

df=pd.DataFrame({'Employment_status':['part_time','full_time','unemployed']})

encoded = encoder.fit_transform(df[['Employment_status']])

encoded_df = pd.DataFrame(encoded,columns=['Encoded_status'])

final_df = pd.concat([df,encoded_df],axis=1)

final_df

  Employment_status  Encoded_status
0         part_time             1.0
1         full_time             2.0
2        unemployed             0.0

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results.

In [9]:
import pandas as pd

df = pd.DataFrame({
                 'Temperature' : [33,32,23,29,33,31,35],
                 'Humidity':[68,69,73,71,66,75,77],
                 'Weather_Condition':['Sunny','Cloudy','Rainy','Cloudy','Rainy','Sunny','Cloudy'],
                 'Wind_Direction':['North','South','East','West','North','South','East']
                 })

In [10]:
df

   Temperature  Humidity Weather_Condition Wind_Direction
0           33        68             Sunny          North
1           32        69            Cloudy          South
2           23        73             Rainy           East
3           29        71            Cloudy           West
4           33        66             Rainy          North
5           31        75             Sunny          South
6           35        77            Cloudy           East

In [17]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

encoded_1=encoder.fit_transform(df['Weather_Condition'])

encoded_2=encoder.fit_transform(df['Wind_Direction'])

df1=pd.DataFrame(encoded_1,columns=['Encoded_Weather_Condition'])

df2=pd.DataFrame(encoded_2,columns=['Encoded_Wind_Direction'])

In [22]:
final_df=pd.concat([df,df1,df2],axis=1)

In [23]:
final_df

,Temperature,Humidity,Weather_Condition,Wind_Direction,Encoded_Weather_Condition,Encoded_Wind_Direction
0,33,68,Sunny,North,2,1
1,32,69,Cloudy,South,0,2
2,23,73,Rainy,East,1,0
3,29,71,Cloudy,West,0,3
4,33,66,Rainy,North,1,1
5,31,75,Sunny,South,2,2
6,35,77,Cloudy,East,0,0

In [24]:
final_df.cov()

/tmp/ipykernel_77/2790656087.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  final_df.cov()

,Temperature,Humidity,Encoded_Weather_Condition,Encoded_Wind_Direction
Temperature,15.476190,-1.619048,-0.190476,0.214286
Humidity,-1.619048,15.571429,-0.452381,-1.095238
Encoded_Weather_Condition,-0.190476,-0.452381,0.809524,-0.119048
Encoded_Wind_Direction,0.214286,-1.095238,-0.119048,1.238095